@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --text-50: #eff5f5;
  --text-100: #e0ebeb;
  --text-200: #c0d8d8;
  --text-300: #a1c4c4;
  --text-400: #82b0b0;
  --text-500: #629d9d;
  --text-600: #4f7d7d;
  --text-700: #3b5e5e;
  --text-800: #273f3f;
  --text-900: #141f1f;
  --text-950: #0a1010;
  
  --background-50: #ffffff;
  --background-100: #dde9ee;
  --background-200: #bbd3dd;
  --background-300: #99bdcc;
  --background-400: #77a8bb;
  --background-500: #5592aa;
  --background-600: #447588;
  --background-700: #335766;
  --background-800: #223a44;
  --background-900: #111d22;
  --background-950: #090f11;
  
  --primary-50: #ecf5f8;
  --primary-100: #daebf1;
  --primary-200: #b4d6e4;
  --primary-300: #8fc2d6;
  --primary-400: #69aec9;
  --primary-500: #4499bb;
  --primary-600: #367b96;
  --primary-700: #295c70;
  --primary-800: #1b3d4b;
  --primary-900: #0e1f25;
  --primary-950: #070f13;
  
  --secondary-50: #ebf6fa;
  --secondary-100: #d6ecf5;
  --secondary-200: #aed9ea;
  --secondary-300: #85c6e0;
  --secondary-400: #5db3d5;
  --secondary-500: #34a0cb;
  --secondary-600: #2a80a2;
  --secondary-700: #1f607a;
  --secondary-800: #154051;
  --secondary-900: #0a2029;
  --secondary-950: #051014;
  
  --accent-50: #e9f6fb;
  --accent-100: #d3edf8;
  --accent-200: #a8dcf0;
  --accent-300: #7ccae9;
  --accent-400: #51b8e1;
  --accent-500: #25a7da;
  --accent-600: #1e85ae;
  --accent-700: #166483;
  --accent-800: #0f4357;
  --accent-900: #07212c;
  --accent-950: #041116;
  
}

body {
  //color: var(--foreground);
  color: var(--text-950);
  background-color: var(--background-50);
  font-family: 'Varela Round', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.4rem;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

::-webkit-scrollbar-track {
  background: var(--primary-300);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-500);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-400);
}

.admin-dashboard {
  display: grid;
  grid-template-areas:
  'admin-analytics admin-analytics admin-analytics'
  'admin-products admin-products admin-organisations'
  'admin-verification admin-verification admin-organisations';
}

.admin-analytics {
  grid-area: admin-analytics;
}

.admin-products {
  grid-area: admin-products;
}

.admin-organisations {
  grid-area: admin-organisations;
}

.admin-verification {
  grid-area: admin-verification;
}

.admin-block {

}