@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  @apply bg-background-main text-text-main;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

.admin-dashboard {
  display: grid;
  grid-template-areas:
  'admin-analytics admin-analytics admin-analytics'
  'admin-products admin-products admin-organisations'
  'admin-verification admin-verification admin-organisations';
}

.admin-analytics {
  grid-area: admin-analytics;
}

.admin-products {
  grid-area: admin-products;
}

.admin-organisations {
  grid-area: admin-organisations;
}

.admin-verification {
  grid-area: admin-verification;
}

.admin-block {
  @apply bg-red-400
}